<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perets.project.mapper.SubscriberMapper">

    <select id="getSubscriberById" resultMap="subscriberResultMapper" parameterType="java.lang.Integer">
        select * from subscriber where id = #{id}
    </select>

    <select id="getSubscriber" resultMap="subscriberResultMapper">
        select * from subscriber


        <where>
            <if test="name !=null">name = #{name}</if>
        </where>
        <!--<if test="name !=null">where name like #{name}</if>-->
    </select>

    <resultMap id="subscriberResultMapper" type="com.perets.project.domain.Subscriber">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <association property="tariff" column="ref_tariff" javaType="com.perets.project.domain.Tariff"
                     select="com.perets.project.mapper.TariffMapper.getTariffById" fetchType="eager"/>
        <collection property="payments"
                    column="id"
                    javaType="List"
                    ofType="com.perets.project.domain.Payment"
                    select="com.perets.project.mapper.PaymentMapper.getPaymentByIdSub"
                    fetchType="eager"/>
    </resultMap>

</mapper>